@page "/eulers"
@using Data
@using NumericalFunctions 

<form action="javascript:void(0);">
    <label for="function">dy/dx = </label>
    <input @bind-value="@input" id="function" />
    <br />

    <label for="x">x<sub>0</sub> = </label>
    <input type="number" step="any" @bind-value="@x" id="x" />
    <br />

    <label for="y">y<sub>0</sub> = </label>
    <input type="number" step="any" @bind-value="@y" id="y" />
    <br />

    <label for="numIterations">Number of iterations:</label>
    <input type="number" min="1" @bind-value="@numIterations" id="numIterations" />
    <br />

    <label for="step">Step:</label>
    <input type="number" step="any" @bind-value="@step" id="step" />
    <br />

    <button @onclick="@Calculate" type="submit">Calculate</button>
</form>
<p style="white-space:pre-line">@output</p>

@code {
    string input = "";
    string output = "";

    double x;
    double y;
    double step;
    int numIterations = 1;

    private void Calculate()
    {
        Queue<Element> elements = RPN.SYA(input);
        double value = DiffEquations.Eulers(elements, step, x, y, numIterations);

        output = $"y({y + numIterations * step}) = {value.ToString()}";
    }
} 